body {
  margin: 0 auto;
  background: burlywood;
}
button {
  background: none;
  padding: 10px 20px;
}

.game-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg_grass {
  position: absolute;
  left: 0;
  bottom: -65px;
  width: 100%;
  height: 50vh;
  opacity: 0.7;
}
.totoro {
  width: 150px;
}

.game-header {
  /* display: flex; */
}
.game-header span {
  margin-top: 20px;
  font-size: 20px;
}

.game-header .score {
  padding: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

.pop-up {
  display: none;
}
