button {
  background: none;
  box-sizing: border-box;
  border: none;
  padding: 0;
}

.game-wrap {
  position: relative;
  width: 98.5vw;
  height: 98.3vh;
  background-image: url(./img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.notice {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.notice button {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
}
.notice button i {
  font-size: 40px;
}
